
{% extends 'admin_T/main.html' %}


        {% block content %}
        {% load static %}
        <style>* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }
          
          body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
              Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          }
          
          .main-container {
            padding: 30px;
          }
          
          /* HEADING */
          
          .heading {
            text-align: center;
          }
          
          .heading__title {
            font-weight: 600;
          }
          
          .heading__credits {
            margin: 10px 0px;
            color: #888888;
            font-size: 25px;
            transition: all 0.5s;
          }
          
          .heading__link {
            text-decoration: none;
          }
          
          .heading__credits .heading__link {
            color: inherit;
          }
          
          /* CARDS */
          
          .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
          
          .card {
            margin: 20px;
            padding: 20px;
            width: 500px;
            min-height: 200px;
            display: grid;
            grid-template-rows: 20px 50px 1fr 50px;
            border-radius: 10px;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
            transition: all 0.2s;
          }
          
          .card:hover {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
            transform: scale(1.01);
          }
          
          .card__link,
          .card__exit,
          .card__icon {
            position: relative;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.9);
          }
          
          .card__link::after {
            position: absolute;
            top: 25px;
            left: 0;
            content: "";
            width: 0%;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.6);
            transition: all 0.5s;
          }
          
          .card__link:hover::after {
            width: 100%;
          }
          
          .card__exit {
            grid-row: 1/2;
            justify-self: end;
          }
          
          .card__icon {
            grid-row: 2/3;
            font-size: 30px;
          }
          
          .card__title {
            grid-row: 3/4;
            font-weight: 400;
            color: #ffffff;
          }
          
          .card__apply {
            grid-row: 4/5;
            align-self: center;
          }
          
          /* CARD BACKGROUNDS */
          
          .card-1 {
            background: radial-gradient(#1fe4f5, #3fbafe);
          }
          
          .card-2 {
            background: radial-gradient(#fbc1cc, #fa99b2);
          }
          
          .card-3 {
            background: radial-gradient(#76b2fe, #b69efe);
          }
          
          .card-4 {
            background: radial-gradient(#60efbc, #58d5c9);
          }
          
          .card-5 {
            background: radial-gradient(#f588d8, #c0a3e5);
          }
          
          /* RESPONSIVE */
          
          @media (max-width: 1600px) {
            .cards {
              justify-content: center;
            }
          }
          </style>







         <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>
            <!-- 

GRADIENT BANNER DESIGN BY SIMON LURWER ON DRIBBBLE:
https://dribbble.com/shots/14101951-Banners

-->
<div class="main-container ">
    <div class=" row " >
  
  <div class="cards col-md-6">
    <div class="card card-1 pt-5" style="display: flex; flex-direction: column;">
        <h2 class="card__title" style="display: flex; justify-content: center;">TOTAL ORDERS TODAY</h2>
      <!-- <div class="card__icon" style="display: flex; flex-direction: column-reverse;"><i class="fas fa-bolt"></i></div> -->
      <!-- <p class="card__exit"><i class="fas fa-times"></i></p> -->
      
      
      <h2 class="card__title" style="display: flex; justify-content: center;">{{order_today}}</h2>
      
      <!-- <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p> -->
    </div>
  </div>
  <div class="card card-2 pt-5" style="display: flex; flex-direction: column;">
    <!-- <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p> -->
    <h2 class="card__title" style="display: flex; justify-content: center;">TOTAL REVENUE TODAY</h2>
    <h2 class="card__title" style="display: flex; justify-content: center;">{{revenue_today.sum}}</h2>
   
    <!-- <p class="card__apply">
      <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
    </p> -->
  </div>
</div>
</div>
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Latest Hits</h2>
                        <canvas id="myChart" width="200" height="150"></canvas>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Performance</h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div> -->
                <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">Storage Information</h2>
                        <div id="pieChartContainer">
                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>                        
                    </div>
                </div> -->
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Notification List</h2>
                        <div class="tm-notification-items">
                            {% for noti in notification  %}
                            <div class="media tm-notification-item">
                                <!-- <div class="tm-gray-circle"><img src="{{noti.action.image_product.url}}" style="object-fit: contain;" alt="Avatar Image" class="rounded-circle"></div> -->
                                <div class="media-body">
                                    <p class="mb-2"><b>{{noti.action}}</b> has  <b>been</b> added to <a href="#"
                                            class="tm-notification-link">main category</a> {{noti.main_categ}}</p>
                                    <span class="tm-small tm-text-color-secondary">{{noti.time}}</span>
                                </div>
                            </div>
                            {% endfor %}
                           
                            
                           
                         
                          
                           
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved. 
                    
                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                
                type: 'bar',
                data: {
                    labels: [ 'SUNDAY', 'MONDAY', 'TUE', 'WED', 'THU','FRI',],
                    datasets: [{
                        label: "ORDER",
                backgroundColor: "rgba(159,170,174,0.8)",
                borderWidth: 1,
                hoverBackgroundColor: "rgba(232,105,90,0.8)",
                hoverBorderColor: "orange",
                scaleStepWidth: 1,
                        data: [ {% for wee in week %} {{wee}},{% endfor %} ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 5)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        Y: {
                            ticks: {
                                color:['yellow'],
                                
                                fontSize: 18,
                                stepSize: 5,
                                beginAtZero: true
                            }
                        },
                        X: {
                            ticks: {
                              color:['red',],
                                fontSize: 14,
                                stepSize: 5,
                                
                            }
                        }
                    }
                }
            });
            </script>
        {% endblock %}