{% extends 'user_profile/main.html' %}

{% block content %}

<div style="width: 100%; display: flex; justify-content: center; font-family: 'Times New Roman, Times, serif'; text-transform: uppercase; color: brown; "  >

<div class="card" style="width: 18rem;">
  {% if user.profile_pic %}
  <img class="card-img-top" src="{{user.profile_pic.url}}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <p class="card-text"><form action="/user_profile/change_user" method="POST" enctype="multipart/form-data">{% csrf_token %}<input name="pic" type="file" >
    <button type="submit" class="btn btn-outline-success">update photo</button></form></p>
    <p class="card-text">FIRST NAME : {{user.first_name}}</p>
    <p class="card-text">LAST NAME : {{user.last_name}}</p>
    <p class="card-text">USERNAME : {{user.username}}</p>
    <p class="card-text">EMAIL : {{user.email}}</p>
    <p class="card-text">PHONE NUMBER : {{user.phone_number}}</p>
    <p class="card-text">DATE JOINED : {{user.date_joined}}</p>
    <p class="card-text">REFERAL CODE : {{user.referal_code}}</p>
    <p class="card-text">WALLET AMOUNT : {{wallet.amount}}</p>

  </div>
</div>
</div>






   
{% endblock %}