{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>majestic | Landing, Ecommerce &amp; Business Templatee</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'product/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'product/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'product/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'product/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'product/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'product/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'product/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}" type="text/css">

    <!-- payment     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
   
    



    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />



    <!-- filter page -->
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="/"><img class="d-inline-block" src="{% static 'assets/img/gallery/logo.png' %}" alt="logo" /><span class="text-1000 fs-0 fw-bold ms-2">Majestic</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" href="/filter?main=5">Women</a></li>
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/filter?main=4">Men</a></li>
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/filter?main=6">KIDS</a></li>
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="/shop">SHOP</a></li>
              
            </ul>
            <form class="d-flex"><a class="text-1000" href="#!">
               </a><a class="text-1000" href="/cart/{{user.id}}">
                <svg class="feather feather-shopping-cart me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="9" cy="21" r="1"></circle>
                  <circle cx="20" cy="21" r="1"></circle>
                  <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg></a><a class="text-1000" href="#!">
                <svg class="feather feather-search me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg></a>
                
                <a class="text-1000" href="/user_profile/{{user.id}}">
                <svg class="feather feather-user me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg></a>
                
                <a class="text-1000" href="#!">
                
                {% if  user.username %}
                <a href="/signout">LOGOUT <span style="text-transform: uppercase; font-weight: 500;  color:brown;">{{user.username}}</span> </a>  
                  
                {% else %}
                <a href="/signin">Login </a>
               {% endif %}
              </form>
          </div>
        </div>
      </nav>


      {% block content %}


      {% endblock %}



      <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
      <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
      <script src="{% static 'vendors/is/is.min.js'%}"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
      <script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
      <script>
        feather.replace();
      </script>
      <script src="{% static 'assets/js/theme.js' %}"></script>
  
      <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

