
{% extends 'navbar.html' %}
{% load mathfilters %}

{% block content %}
{% load static %}  








<style>
    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    
    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
    </style>



<div class="container rounded bg-white pt-7">
    <div class="row d-flex justify-content-center pb-5">
        <div class="col-sm-5 col-md-5 ml-1">
            <div class="py-4 d-flex flex-row">
               <div>   </div> 
            </div>
            
            
           
            
         
            <div class="pt-2">
           
               
                <form class="pb-3" method="POST" action="/purchase/{{check}}/{{id}}">
                    {% csrf_token %}
                       
                
                <div>
                    <button class="btn btn-outline-info btn-block" style="font-family: 'Times New Roman, Times, serif'; text-transform: uppercase;" type="submit">CASH ON DELIVERY PURCHASE</button>
                </div>
            </form>
            <div class="mb-3">
                <a  href="/pay_using wallet/{{check}}" class="btn btn-outline-success btn-block" style="font-family: 'Times New Roman, Times, serif'; text-transform: uppercase;" type="submit">PAY USING WALLET</a>
            </div>
            <a class="mt-3" href="/payment/{{id}}/{{check}}"><button class="btn btn-secondary btn-block" style="font-family: 'Times New Roman, Times, serif'; text-transform: uppercase;" type="submit">RAZOR PAY</button></a>
            
            </div>
            <div id="paypal-button-container" class="pt-3"></div>
        </div>
        
        {% if cart %}
        <div class="col-sm-3 col-md-4 offset-md-1 mobile">
            <div class="py-4 d-flex justify-content-end">
                <h6><a href="#">Cancel and return to website</a></h6>
            </div>
            <div class="bg-light rounded d-flex flex-column">
                <div class="p-2 ml-3"><h4>Order Details</h4></div>
                

                <div class="border-top px-4 mx-3"></div>
                <div class="p-2 d-flex pt-3">
                    <div class="col-8"><b>Total</b></div>
                    <div class="ml-auto"><b class="green">₹{{cart.grand_total}}</b></div>
                </div>
                <div class="p-2 d-flex pt-3">
                    <div class="col-8"><b>product offers</b></div>
                    <div class="ml-auto"><b class="green">₹{{offer}}</b></div>
                </div>
                <hr style="color: blue;" >
                <div class="p-2 d-flex pt-3">
                    <div class="col-8"><b> grand Total</b></div>
                    <div class="ml-auto"><b class="green">₹{{cart.grand_total|sub:offer}}</b></div>
                </div>
            </div>
        </div> 
        {% endif %}
        {% if carts %}
        
        <div class="col-sm-3 col-md-4 offset-md-1 mobile">
            <div class="py-4 d-flex justify-content-end">
                <h6><a href="#">Cancel and return to website</a></h6>
            </div>
            <div class="bg-light rounded d-flex flex-column">
                <div class="p-2 ml-3"><h4>Order Details</h4></div>
                

                <div class="border-top px-4 mx-3"></div>
                <div class="p-2 d-flex pt-3">
                    <div class="col-8"><b>Total</b></div>
                    <div class="ml-auto"><b class="green">₹{{carts.total_amount}}</b></div>
                </div>
                <div class="p-2 d-flex pt-3">
                    <div class="col-8"><b>product offers</b></div>
                    <div class="ml-auto"><b class="green">₹{{offer}}</b></div>
                </div>
                <hr style="color: blue;" >
                <div class="p-2 d-flex pt-3">
                    <div class="col-8"><b> grand Total</b></div>
                    <div class="ml-auto"><b class="green">₹{{cart.total_amount|sub:offer}}</b></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="snackbar"></div>
<style>
    body{
        background-color: #eeeeee;
    }
    
    .green{
        color: rgb(15, 207, 143);
        font-weight: 680;
    }
    
    @media(max-width:567px){
        .mobile{
            padding-top: 40px;
        }
    }

</style>
<script src="https://www.paypal.com/sdk/js?client-id=ATr5aXfbJPb_7BnqTozPBauY4CU__66yjBFQLD2NUXJUUM5vbH69uqpFn2pZcOEz2XmzQTxXDNd0YCpR&currency=USD"></script>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    var amount = "{{cart.grand_total|sub:offer}}"
    
    var csrftoken = getCookie('csrftoken');
        // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                
                console.log('ggggggggggggggggggggggggggg')
               sendData();
                function sendData(){
                    fetch('/paypaypal',{
                        method : "POST",
                        headers : {
                            "Content-type" : "application/jason",
                            "X-CSRFToken": csrftoken,
                        },
                        body:JSON.stringify({
                            transcation_id : orderData.id,
                            status :  orderData.status,
                            ad: "{{check}}",
                            id : "{{id}}",
                        }),
                    })
                    .then(response => response.json())
                    .then((data) => { 
                        window.location.href = "/checkout/"+data.check+"/"+data.id
                });
            }

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script>

<script>
      
    {% for message in messages %}

    var x = document.getElementById("snackbar");
    x.innerHTML = "{{ message }}"
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
{% endfor %}
  </script>

{% endblock %}