{% extends 'navbar.html' %}

{% load mathfilters %}
{% block content %}
{% load static %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option pt-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr id="d{{product.id}}">
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{product.product.image_product.url}}" height="2" width="55" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{product.product.name}}</h6>
                                            <h5>₹{{product.product.price}}</h5>
                                        </div>
                                    </td>
                                    {% if product.quantity == 1 %}
                                    <td class="quantity__item">
                                        <button class="mx-2 rounded" id="na{{product.id}}" onclick="minus({{product.id}},{{single.id}})" style="font-weight: 900; border: none;background-color: rgba(206, 206, 249, 0.449);"></button><span id="{{product.id}}" >{{product.quantity}}</span><button class="mx-2 rounded" onclick="plus({{product.id}},{{single.id}})" style="border: none;background-color: rgba(206, 206, 249, 0.449);">+</button>
                                    </td>
                                    {% else %}
                                    <td class="quantity__item">
                                        <button class="mx-2 rounded " id="na{{product.id}}" onclick="minus({{product.id}},{{single.id}})" style="font-weight: 900; border: none;background-color: rgba(206, 206, 249, 0.449);">-</button><span id="{{product.id}}" >{{product.quantity}}</span><button class="mx-2 rounded" onclick="plus({{product.id}},{{single.id}})" style="border: none;background-color: rgba(206, 206, 249, 0.449);">+</button>
                                    </td>
                                    {% endif %}
                                    <td class="cart__price" >  ₹ <span id="t{{product.id}}">{{product.total_amount}}</span></td>
                                    <td class="cart__close"><i class="fa fa-close" type="submit" onclick="delet({{product.id}},{{single.id}})"></i></td>
                                </tr>
                                {% endfor %}
                                
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/">Continue Shopping</a>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-4">
                    
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Total <span id="grand">{{single.grand_total}}</span> <span>₹</span></li>
                             <li>offers <span id="offer">{{offer}}</span><span>₹</span></li>
                             <hr style="color: blue;" >
                             <li>GRAND TOTAL  <span id="gr">{{single.grand_total|sub:offer}}</span> <span>₹</span></li>
                            
                        </ul>
                        {% if user.username %}
                        <a href="/check/{{user.id}}" class="primary-btn">Proceed to checkout</a>
                        {% else %}
                        <a href="/guest_check" class="primary-btn"> Proceed to checkout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    
    <!-- Search End -->
        <script>

            
            function minus(id,cart)

            {
            console.log(id) 
            console.log(cart)  
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            
            
            
                
                console.log('hello')
                sendData();
                console.log('hello')
                function sendData(){
                    console.log('hello')
                    fetch('/minus',{
                        method : "POST",
                        headers : {
                            "Content-type" : "application/jason",
                            "X-CSRFToken": csrftoken,
                        },
                        body:JSON.stringify({
                            
                            id:id,
                            cart:cart,
                            
                        }),
                    })
                    .then(response => response.json())
                    .then((data) => { 
                        document.getElementById(id).innerHTML = data.quantity;
                        document.getElementById("t"+id).innerHTML = data.total;
                        document.getElementById("grand").innerHTML = data.grand_total;
                        document.getElementById("offer").innerHTML = data.offer;
                        document.getElementById("gr").innerHTML =data.grand_total - data.offer;
                        if (data.quantity == 1)
                    {
                        console.log(data.name)
                        document.getElementById('na'+id).innerHTML = "";
                    }
                    
                        
                });
            }
    
              
            

        }
        function plus(id,cart)

        {
        console.log(id) 
        console.log(cart)  
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        
        
        
            
            console.log('hello')


            sendData();
            console.log('hello')
            function sendData(){
                console.log('hello')
                fetch('/add',{
                    method : "POST",
                    headers : {
                        "Content-type" : "application/jason",
                        "X-CSRFToken": csrftoken,
                    },
                    body:JSON.stringify({
                        
                        id:id,
                        cart:cart,
                        
                    }),
                })
                .then(response => response.json())
                .then((data) => { 
                    document.getElementById(id).innerHTML = data.quantity;
                    document.getElementById("t"+id).innerHTML = data.total;
                    document.getElementById("grand").innerHTML = data.grand_total;
                        document.getElementById("offer").innerHTML = data.offer;
                        document.getElementById("gr").innerHTML =data.grand_total - data.offer;
                    if (data.quantity == 2)
                    {
                        
                        document.getElementById('na'+id).innerHTML = "-";
                    }
                    
            });
        }

          
        

    }





    function delet(id,cart)

        {
        console.log(id) 
        console.log(cart)  
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');







        

            swal({
              title: "R U SURE",
              text: "",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                swal("COMPLETED", {
                  icon: "success",
                  
                  
                  
                }).then(()=>{ sendData();
              })
          
                
              } else {
                swal("ENTRY DOESN'T DELETED");
              }
            });
          
        
        
        
            
            console.log('hello')
           
            console.log('hello')
            function sendData(){
                console.log('hello')
                fetch('/delet',{
                    method : "POST",
                    headers : {
                        "Content-type" : "application/jason",
                        "X-CSRFToken": csrftoken,
                    },
                    body:JSON.stringify({
                        
                        id:id,
                        cart:cart,
                        
                    }),
                })
                .then(response => response.json())
                .then((data) => { 
                    

                   document.getElementById('d'+id).innerHTML = "";
                    document.getElementById("grand").innerHTML = data.grand_total;
                        document.getElementById("offer").innerHTML = data.offer;
                        document.getElementById("gr").innerHTML =data.grand_total - data.offer;
                    
                    
            });
        }

          
        

    }
        </script>




    <!-- Js Plugins -->
    <script src="{% static 'product/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'product/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'product/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'product/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'product/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'product/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'product/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'product/js/mixitup.min.js' %}"></script>
    <script src="{% static 'product/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'product/js/main.js' %}"></script>
{% endblock  %}